body {
    margin: 0 auto;
    padding: 0;
}

.head {
    display: flex;
    justify-content: center;
    background-color: blue;
}

h1 {
    margin-left: 200px;
    color: black;
}

h2 {
    font-size: 24px;
}

.search-card {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.search-btn {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.btn-search {
    width: 100%;
}

.current {
    margin-top: 10px;
    border: 2px solid gray;
}

.city {
    font-size: 24px;
}

.sun {
    width: 70px;
    height: 50px;
}

.future {
    width: 150px;
    margin: 5px;
}

.future-text {
    color: #fff;
    padding-left: 5px;
}

p {
    font-size: 12px;
}

.over-forcast {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list-search {
    width: 50%;
}

@media screen and (max-width: 795px) {
    .over-forcast {
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
    }

    .over-forcast>* {
        flex: 1 1 80px;
    }
}